body {
    font-family: Arial, sans-serif;
    background-image: url('Background.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 25px 50px;
    margin: 10px;
    background-color: rgb(48, 25, 52);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
}

.get-in-touch {
    position: relative;
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.contact-info {
    background-color: white;
    width: 100%;
    height: 27%; /* Adjust as needed */
    padding: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    margin-top: 19%; /* Space from the button */
    opacity: 0.9; /* Slightly transparent if needed */
    transition: all 1.3s ease; /* Smooth transition */
}

.contact-info.active {
    display: block; /* Show when active */
}

.contact-info h2 {
    margin-top: 0%;
}
